<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
    <h1>
        Welcome to {{title}}!
    </h1>
</div>

<h3 class="first">Addons</h3>
<div class="ui-g ui-fluid">
    <div class="ui-g-12 ui-md-4">
        <div class="ui-inputgroup">
            <span class="ui-inputgroup-addon"><i class="fa fa-user"></i></span>
            <input type="text" pInputText placeholder="Username">
        </div>
    </div>

    <div class="ui-g-12 ui-md-4">
        <div class="ui-inputgroup">
            <span class="ui-inputgroup-addon">$</span>
            <input type="text" pInputText placeholder="Price">
            <span class="ui-inputgroup-addon">.00</span>
        </div>
    </div>

    <div class="ui-g-12 ui-md-4">
        <div class="ui-inputgroup">
            <span class="ui-inputgroup-addon">www</span>
            <input type="text" pInputText placeholder="Website">
        </div>
    </div>
    <div class="ui-g-12 ui-md-4">

        <button pButton type="button" icon="fa fa-check" iconPos="left"></button>
        <p-button label="Click" icon="fa fa-check" iconPos="left"></p-button>
        <p-button icon="pi pi-check" label="Click"></p-button>
        <!-- <p-button icon="pi pi-check" label="Click"></p-button> -->

    </div>
    <app-page1> </app-page1>
</div>

<h3>Multiple Addons</h3>
<div class="ui-g">
    <div class="ui-g-12">
        <div class="ui-inputgroup">
            <span class="ui-inputgroup-addon"><i class="fa fa-credit-card"></i></span>
            <span class="ui-inputgroup-addon"><i class="fa fa-cc-visa"></i></span>
            <input type="text" pInputText placeholder="Price">
            <span class="ui-inputgroup-addon">$</span>
            <span class="ui-inputgroup-addon">.00</span>
        </div>
    </div>
</div>

<router-outlet></router-outlet>